@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*colors*/
:root {
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%,43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),
    hsl(199,100%,33%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDream:hsl(0,0%,93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgba(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235)
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
}